/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #8f7c1b -29.09%,
    #772f4a 51.77%,
    #491a5f 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baseCalculator {
  background-color: rgb(68, 80, 105);
  height: 423px;
  width: 261px;
}
